{% extends "../layout.html" %}
{% load static %}

{% block menubutton %}<li><a class="getstarted scrollto" href="{% url 'index' %}">Login</a></li>{% endblock %}

{% block content %}

<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h2 data-aos="fade-up" data-aos-delay="400">
          You have been logged out. <a href="{% url 'login' %}">Login Again</a>
        </h2>
      </div>
    </div>
  </div>
</section>


{% endblock %}