{% extends "../layout.html" %}
{% load static %}
{% block menubutton %}<li><a class="getstarted scrollto" href="{% url 'logout' %}">Logout</a></li>{% endblock %}

{% block content %}
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Products Overview</h1>
  </div>
<section class="section">
  <div class="row">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Products with Stock Info</h5>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Manufacturer</th>
                <th scope="col">Price</th>
                <th scope="col">Sale Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Mfd date</th>
              </tr>
            </thead>
            <tbody>
              {% for o in product %}
                <tr style="cursor: pointer; cursor: hand;">
                  <th scope="row">{{ o.PRODUCT_ID }}</th>
                  <th scope="row">{{ o.PRODUCT_NAME }}</th>
                  <th scope="row">{{ o.MANUFACTURER }}</th>
                  <th scope="row">{{ o.PRODUCT_PRICE }}</th>
                  <th scope="row">{{ o.SALE_PRICE }}</th>
                  <th scope="row">{{ o.QUANTITY }}</th>
                  <th scope="row">{{ o.MFD_DATE }}</th>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <!-- End Default Table Example -->
        </div>
      </div>
    </div>
</section>
</main>

{% endblock %}